<footer class="footer">
  <div class="row">
      <div class="col-sm-6 col-md-4 footer-navigation">
          <h3><a href="/">Async<span>2</span>Secure</a></h3>
          <p class="links"><a href="/">Home</a><strong> · </strong><a href="{{ site.baseurl }}{% link _pages/products/product.md %}">Product & Services</a><strong> · </strong><a href="{{ site.baseurl }}{% link _pages/resources/resources.md %}">Resources</a><strong> · </strong><a href="{{ site.baseurl }}{% link _pages/about/about.md %}">About Us</a></p>
          <p class="company-name">Copyright © 2020 Async2Secure Pte. Ltd. All rights reserved.</p>
      </div>
      <div class="col-sm-6 col-md-4 footer-contacts">
          <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
              <p><span class="new-line-span">TCH TechCentre #05-07,
                71 Toh Guan Road East, Singapore</span></p>
          </div>
          <div><i class="fa fa-envelope footer-contacts-icon"></i>
              <p> <a href = "mailto: contact@async2secure.com">contact@async2secure.com</a></p>
          </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-4 footer-about">
          <h4>About the company</h4>
          <p>Async2Secure specializes in esoteric asynchronous-logic, hardware security and IC design.</p>
      </div>
  </div>
</footer>