<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/assets/home/logo_bg_transparent.png" style="widows: 398px;height:70px;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home </a>
            <div class="underline"></div>
          </li>
          <li class="dropdown">
            <a href="{{ site.baseurl }}{% link _pages/products/product.md %}">Products & Services</a>
            <div class="dropdown-menu">
              <a class="dropdown-item"
                href="{{ site.baseurl }}{% link _pages/products/design_and_evaluation_tools.md %}">Design & Analysis
                Tools</a>
              <a class="dropdown-item"
                href="{{ site.baseurl }}{% link _pages/products/side_channel_attack_evaluation_package.md %}">Side-Channel
                Attack Starter Kit</a>
              <a class="dropdown-i
                       <a class=" dropdown-item"
                href="{{ site.baseurl }}{% link _pages/products/security_design_ips.md %}">Security
                IPs</a>
            </div>
          </li>
          <li class="dropdown">
            <a href="{{ site.baseurl }}{% link _pages/resources/resources.md %}">Resources</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{ site.baseurl }}{% link _pages/resources/technology.md %}">Our
                Technologies</a>
              <a class="dropdown-item" href="{{ site.baseurl }}{% link _pages/resources/news.md %}">News</a>
              <a class="dropdown-item" href="{{ site.baseurl }}{% link _pages/resources/resource_library.md %}">Resource
                Library
              </a>
            </div>
          </li>
          <li class="dropdown">
            <a href="{{ site.baseurl }}{% link _pages/about/about.md %}">About Us</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{ site.baseurl }}{% link _pages/about/leadership.md %}">Leadership</a>
              <a class="dropdown-item"
                href="{{ site.baseurl }}{% link _pages/about/opportunities.md %}">Opportunities</a>
              <a class="dropdown-item" href="{{ site.baseurl }}{% link _pages/about/contact.md %}">Contact</a>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link active" href="https://app.async2secure.com">My Account </a>
            <div class="underline"></div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>