<aside>
	<div class="container">


        <div class="body-content">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="/">Async2Secure</a>
        
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">

                        <li><a href="/">Home</a></li> 
                        {% for page in site.pages %} {% if page.title %}
                        <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                        {% endif %} {% endfor %}

                    


                        <!-- <li class="nav-item active">
                            <a class="nav-link" href="@routes.HomeController.index()">Home </a>
                            <div class="underline"></div>
                        </li>
        
                        <li class="nav-item active">
                            <a class="nav-link" href="@routes.HomeController.products()">Products </a>
                            <div class="underline"></div>
                        </li>
        
                        <li class="nav-item active">
                            <a class="nav-link" href="@routes.HomeController.publications()">Publications </a>
                            <div class="underline"></div>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="@routes.HomeController.about()">About Us </a>
                            <div class="underline"></div>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="@routes.HomeController.contact()">Contact</a>
                            <div class="underline"></div>
                        </li> -->

                        <!-- <li><a href="{{ "/blog" | prepend: site.baseurl }}">Blog</a></li>  -->
        
                    </ul>
                </div>
            </nav>







		<!-- <nav>
			<ul> -->
<!-- {% for page in site.pages %} {% if page.title %} -->







<!-- <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li> -->
<!-- {% endif %} {% endfor %} -->
<!-- <li><a href="{{ "/blog" | prepend: site.baseurl }}">Blog</a></li> -->
			<!-- </ul>
			</li>
			</ul>
		</nav> -->
	</div>
</aside>

<!-- <header> -->
	<!-- <h1><a href="{{ site.baseurl }}">{{ site.title }}</a></h1> -->
<!-- </header> -->